<a href="https://wa.me/234XXXXXXXXXX?text=Hello%20Green%20Peak%20Solutions%2C%20I%20need%20a%20quote" 
   target="_blank" 
   class="fixed bottom-6 right-6 bg-green-500 p-3 rounded-full shadow-lg z-50 hover:bg-green-600 transition">
  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="white">
    <path d="M12.032 2.001c-5.514 0-9.99 4.476-9.99 9.99 0 1.75.453 3.462 1.31 4.978l-1.394 4.164 4.298-1.33c1.447.79 3.076 1.208 4.776 1.208 5.514 0 9.99-4.476 9.99-9.99s-4.476-9.99-9.99-9.99zm0 18.38c-1.504 0-2.973-.404-4.25-1.166l-.305-.18-2.552.79.823-2.488-.19-.317c-.832-1.32-1.27-2.84-1.27-4.41 0-4.58 3.727-8.308 8.308-8.308s8.308 3.727 8.308 8.308-3.727 8.307-8.308 8.307z"/>
  </svg>
</a>